/*
Item Name : CSS3 Mega Drop Down Menu
Author URI : http://themeforest.net/user/Keliah
Item URI : http://codecanyon.net/item/css3-mega-drop-down-menu/126387
Version : 2.2
*/

/*

TABLE OF CONTENTS

01 MENU BAR
02 DROP DOWN MENU
03 CONTENT STYLINGS
04 CONTACT FORM
05 DARK DROP DOWN

*/



/*  _______________________________________

	01 MENU BAR  249px
    _______________________________________  */



.menu {
	list-style:none;

	min-width:300px;
	
	padding:1px 11px 20px 0px;



	/* CSS 3 Stylings */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Colors */

	background: hsla(0,0%,97%,1.00);
	border: 1px solid #DDD;

	

}
.menu li {
	text-align:center;
	position:relative;
	padding: 4px 5px 4px 0px;
	margin-top:7px;
	margin-left:10px;
	border:none;
}
.menu li:hover {
	z-index:2;
	background: hsla(22,100%,78%,0.5);
	border:1px solid #cccccc;
	border-right:none;
	padding: 3px 9px 3px 9px;
	
	/* CSS 3 Stylings */

	
	-moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.menu li a {
	color: #000000;
	outline:0;
	text-decoration:none;
	display:block;
	text-shadow: 1px 1px 1px #ABABAB;
border-bottom-color: rgb(251, 112, 9);
border-bottom-style: dotted;
border-bottom-width: 1px;
}
.menu li:hover a {
	color:#DE0000;
	text-shadow: none;
}
.menu li .drop {
	background: url("../img/drop2.png") no-repeat right 20px;
}
.menu li:hover .drop {
	background:url("../img/drop2.png") no-repeat right 20px;
}
.menu li:hover div a {
	color:#444;
}
.menu li:hover div a:hover {
	color:#777;
}
.menu li ul li a:hover {
	color:#777;
}



/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */

.menu .dropdown_1column, 
.menu .dropdown_2columns, 
.menu .dropdown_3columns, 
.menu .dropdown_4columns,
.menu .dropdown_5columns {
	margin:0px auto;
	left:-999em;
	z-index:-1;
	position:absolute;
	background:rgba(244, 244, 244, 0.9);
	border:1px solid #cccccc;
	padding:5px 10px;
	padding-left: 25px;
	text-align:left;

	/* CSS 3 Stylings */

	-moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -khtml-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;

}

/* Drop Downs Sizes */

.menu .dropdown_1column {width: 145px;}
.menu .dropdown_2columns {width: 360px;}
.menu .dropdown_3columns {width: 455px;}
.menu .dropdown_4columns {width: 610px;}
.menu .dropdown_5columns {width: 765px;}

/* Showing Drop Down on Mouse Hover - Left aligned */

.menu li:hover .dropdown_1column, 
.menu li:hover .dropdown_2columns, 
.menu li:hover .dropdown_3columns,
.menu li:hover .dropdown_4columns,
.menu li:hover .dropdown_5columns {
	left:100%;
	top:-1px;
}

/* Columns Sizes */

.menu .col_1,
.menu .col_2,
.menu .col_3,
.menu .col_4,
.menu .col_5,
.menu .col_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
}
.menu .col_1 {width:145px;}
.menu .col_2 {width:300px;}
.menu .col_3 {width:455px;}
.menu .col_4 {width:610px;}
.menu .col_5 {width:765px;}
.menu .col_6 {width:920px;}

/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu .firstcolumn {
	margin-left: 0; /* Clearing margin & left */
	clear: left;
}



/*  _______________________________________

	03 CONTENT STYLINGS
    _______________________________________  */



.menu p,
.menu ul,
.menu li,
.menu h2,
.menu h3 {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}
.menu p {
	font-size:12px;
	line-height:18px;
	margin-bottom:10px;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.menu .strong {
	font-weight:bold;
}
.menu .italic {
	font-style:italic;
}
.menu h2 {

	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	letter-spacing:-1px;
	font-size:21px;
	line-height:21px;
	margin-top:7px;
	margin-bottom:14px;
	padding-bottom:14px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #666666;
}
.menu h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size:14px;
	line-height:21px;
	margin-top:7px;
	margin-bottom:14px;
	padding-bottom:7px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #888888;
}
.menu .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}

/* Icon paragraphs */

.menu .help,
.menu .favorite,
.menu .mail,
.menu .print {
	padding-left:36px;
	margin-bottom:18px;
}
.menu .help {background:url("../img/help.png") no-repeat 0px 2px;}
.menu .favorite {background:url("../img/favorite.png") no-repeat 0px 2px;}
.menu .mail {background:url("../img/mail.png") no-repeat 0px 2px;}
.menu .print {background:url("../img/print.png") no-repeat 0px 2px;}

/* img styles */

.menu .imgshadow_dark{ /* Better style on dark background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #333333;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.menu .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.menu .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0px;
}
.menu .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0px 5px 15px;
}

/* Box styles */

.menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

.menu li .dark_grey_box {
	background-color:#555555;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	
	-webkit-box-shadow:inset 0 0 3px #111111;
	-moz-box-shadow:inset 0 0 3px #111111;
	box-shadow:inset 0 0 3px #111111;
}

/* Standard lists styles */

.menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	padding-left:3px;
	padding-top: 10px;
	margin:0;
	float:left;
	text-align:left;
	width:145px;
}
.menu li ul li:hover {
	background:none;
	background: hsla(30,100%,50%,0.3) ;
	border:none;
	padding:0;
	margin:0;
	padding-top: 10px;
	padding-left:3px;
}

/* Greybox lists styles */

.menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:131px;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

/* Other lists styles */

.menu li .plus li {
	background: url("../img/plus.png") left 6px no-repeat;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 21px;
	width:109px;
}
.menu li .plus li:hover {
	background: url("../img/plus.png") left 6px no-repeat;
	padding:0px 0px 0px 21px;
	margin:0px 0px 4px 0px;
}

/* Social Icons */

.menu li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.menu li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.menu li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.menu li ul.social li span {
	display:none;
}

/* 2-Levels Drop Down */

.menu .levels {
	list-style:none;
	margin:0;
	padding:0;
	width:auto;
}
.menu a.parent, .menu a.parent:hover {
	background: url("../img/drop2.png") right center no-repeat;
}
.menu .levels li li, .menu .levels li li:hover {
	width:150px;
	padding: 0px 12px 0px 12px;
	margin:0px 0px 0px 1px;
}
.menu .levels ul { /* First level drop down */
	position:absolute;
	z-index:500;
	top:-23px;
	left:100%;
	display:none;
	width:180px;
	border:1px solid #aaaaaa;
	background:#F4F4F4;
	margin:15px 0px 0px 0px;
	padding:6px 0px 6px 0px;

	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background: -moz-linear-gradient(left, #cccccc, #eeeeee);
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#eeeeee), to(#cccccc));
}
.menu .levels ul ul {
	top:-6px;
	left:100%;
	width:180px;
	margin:-1px 0px 0px 0px;
}
.menu .levels li:hover {
	cursor:pointer;
	z-index:100;
}
.menu .levels li:hover ul ul,
.menu .levels li li:hover ul ul
{display:none;}

.menu .levels li:hover ul,
.menu .levels li li:hover ul
{display:block;}





/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.menu form {
	margin:0 0 12px 0;
	padding:0px;
}

/* Labels & fieldsets stylings */

.menu fieldset {
	margin:0;
	border:none;
}		
.menu form p {
	margin:10px 0;
	overflow:hidden;
	width:270px;
}

.menu label {
	float:left;
	display:block;
	text-align:left;
	width:50px;
}	
.menu input,
.menu textarea {	
	margin:0;	
	width:170px;
	float:right;
	color:#eeeeee;	
	background-color:#333333;
	border:1px solid #222222;
	padding:3px 5px 3px 5px;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}		
.menu textarea {
	height:100px;
	overflow:auto;
}					

/* Buttons stylings */

.menu button {
	float:right;
	width:80px;
	margin:0px;
	margin-right:30px;
	border:none;
	padding: 2px 7px 2px 7px;
	color:#eeeeee;	
	background-color:#333333;
	text-shadow: 1px 1px 1px #000;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

/* Messages when sending email */

.error, .sent {
	font-size:12px;
	line-height:18px;
	padding:5px;
	margin-bottom:10px;

	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.error {
	background:#f3afa6;
	border:#ef9588 solid 1px;
	color:#992213;
}
.sent {
	background:#bef08f;
	border:#adec71 solid 1px;
	color:#37620d;
}



/*  _______________________________________

	05 DARK DROP DOWN
    _______________________________________  */



.dark_dropdown li:hover {
	background:#111111;
	border:1px solid #0F0F0F;
	border-right:none;
	background: -moz-linear-gradient(left, #282828, #202020);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#282828), to(#202020));
	padding: 3px 11px 3px 9px;
}
.dark_dropdown li:hover a {
	color:#ffffff;
}
.dark_dropdown li .drop, .dark_dropdown li:hover .drop {
	background:url("../img/drop2_dark.png") no-repeat 110px 8px;
}
.dark_dropdown .dropdown_1column, 
.dark_dropdown .dropdown_2columns, 
.dark_dropdown .dropdown_3columns, 
.dark_dropdown .dropdown_4columns,
.dark_dropdown .dropdown_5columns {
	background:#111111;
	border:1px solid #000000;
	border-left:none;
	background: -moz-linear-gradient(left, #202020, #111111);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#202020), to(#111111));
}
.dark_dropdown p,
.dark_dropdown ul,
.dark_dropdown li,
.dark_dropdown h2,
.dark_dropdown h3 {
	color:#ffffff;
	text-shadow:1px 1px #000000;
}
.dark_dropdown h2,
.dark_dropdown h3 {
	border-bottom:1px solid #292929;
}
.dark_dropdown .imgshadow_light {
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.dark_dropdown li:hover div a {
	color:#cccccc;
}
.dark_dropdown li:hover div a:hover {
	color:#eeeeee;
}
.dark_dropdown li ul li a:hover {
	color:#eeeeee;
}
.dark_dropdown li .black_box {
	background-color:#0A0A0A;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.dark_dropdown li .dark_grey_box {
	background-color:#282828;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.dark_dropdown li ul li {
	text-shadow: 1px 1px 1px #000000;
}
.dark_dropdown li ul li:hover {
	background: #111111\9;
}
.dark_dropdown li .greybox li {
	background:#0A0A0A;
	border:1px solid #000000;
}
.dark_dropdown li .greybox li:hover {
	background:#282828;
	border:1px solid #111111;
}
.dark_dropdown li .plus li {
	background: url("../img/plus_dark.png") left 6px no-repeat;
}
.dark_dropdown li .plus li:hover {
	background: url("../img/plus_dark.png") left 6px no-repeat;
}
.dark_dropdown a.parent, .dark_dropdown a.parent:hover {
	background: url("../img/drop2_dark.png") right center no-repeat;
}
.dark_dropdown .levels ul { /* First level drop down */
	border:1px solid #111111;
	background:#111111;
	background: -moz-linear-gradient(left, #202020, #111111);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#202020), to(#111111));
}

