@charset "utf-8";
/* CSS Document */


.panelHeader
{
    background-color: #3b5998;
    border-bottom: 1px solid #133783;
    color: White;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding: 10px 5px 10px 5px;
    display: block;
    margin: 0 0 3px 0;
}
.main {
	text-align: center;
	margin-top:2% ;
	margin-bottom:3%;
}
/*--start-wrap--*/
.content {
	width:80%;
	margin-top:50px;
}

.Regisration {
	width: 50%;
	text-align:center;
	margin-top:15px;
	margin-left:150px;
	background:#FFFFFF;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	padding-bottom: 3px;
}
.Regisration-head {
	 border-top-left-radius:7px;
	-webkit-border-top-left-radius:7px;
	-moz-border-top-left-radius:7px;
	-o-border-top-left-radius:7px;
	border-top-right-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-top-right-radius:7px;
	-o-border-top-right-radius:7px;
	text-align: center;
	padding:1.6em 0;
	border: 1px solid rgba(0, 0, 0, 0.37);
	box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-webkit-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-o-	box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	-moz-box-shadow: 0px 4px 10px 0px rgba(1, 3, 12, 0.33);
	position: relative;
}
.Regisration-head span{
	background: url(../images/user-icon.png) no-repeat -5px -6px;
	position: absolute;
	top: 37px;
	left: 89px;
	height: 40px;
	width: 40px;
}
.Regisration-head h2{
	color: #0C0D10;
	font-size: 33px;
	font-weight: 700;
	margin-left:20px;
	font-family: 'Raleway', sans-serif;
}
.Regisration form {
	text-align:center;
	margin:5% 0%;

		
}
.Regisration form input[type="text"],.Regisration form input[type="password"]{
	font-size: 15px;
	outline: none;
	font-weight: 600;
	color:#8D8E8F;
	padding: 12px 12px;
	width:76%;
	border-top:1px solid #090B0D;
	border-right:2px solid #424549;
	border-bottom:2px solid #424549;
	border-left:1px solid #090B0D;
	margin: 10px 1em;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	background: #13161B;
	box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-o-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	-moz-box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	font-family: 'Raleway', sans-serif;

}
.ticker{
	position:relative;
}

.Regisration form input[type="text"]:hover,.Regisration form input[type="password"]:hover{
	box-shadow: 0 0 1em #56AF00;
	-webkit-box-shadow: 0 0 1em #56AF00;
	-o-box-shadow: 0 0 1em #56AF00;
	-moz-box-shadow: 0 0 1em #56AF00;
}
form span{
	background: url(../images/tick.png) no-repeat -1px -2px;
	position: absolute;
	top: -4%;
	right: -12%;
	height: 50px;
	width: 50px;
}

/*************************/
.submit {
	text-align: center;
	margin: 2px 0;
}
.submit input[type="submit"]{
	color: #FFFFFF;
	background:#357ae8;;
	cursor: pointer;
	border: none;
	font-weight: 500;
	outline: none;
	font-family: 'Raleway', sans-serif;
	padding: 14px 0px;
	width: 35%;
	font-size: 16px;

}



/*-----start-responsive-design------*/

@media (max-width:480px){
	.Regisration {
	width:89%;
	}
	.Login {
	width:83%;
	}
	form span {
	top: 35%;
	right: -19%;
	}
	.checkbox-grid .radio i {
		top: 0px;
		left: 33px;
	}
	.Login form input[type="text"], .Login form input[type="password"] {
	padding: 11px 11px;
	width: 86%;
	}
	.Login h4 {
	float:left;
	margin: 9px 0px;
	}
	.submit input[type="submit"] {
		width: 47%;
	}
	.submit-button input[type="submit"] {
	width:48%;
	}
	.submit-button input[type="submit"] {
	width:70%;
	}
	.checkbox-grid .radio {
		padding-left: 28%;
	}
}


