.hd_menu .navbar-nav > li > a,
.hd_menu .navbar-brand {
    padding-top:9px !important; 
    padding-bottom:0 !important;
    height: 38px;
    /*background: none !important;*/
    margin-bottom: 0;
    color: #FFF;

    -webkit-transition: all 0.40s ease;
    -moz-transition: all 0.40s ease;
    -ms-transition: all 0.40s ease;
    -o-transition: all 0.40s ease;
    transition: all 0.40s ease;
    /*text-transform: uppercase;*/
}
.hd_menu .navbar-nav > li > a{
    padding-left : 10px;
    padding-right : 10px;
    text-align: left;
}
.hd_menu .navbar-nav > li > a img{
    width:15px; 
    margin-top: -5px;
}
.hd_menu .navbar {
    min-height:38px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border-left: 0 solid;
    border-right: 0 solid;
    background: #222 !important;
    border: 0 solid;
    margin-bottom: 0;
    font-size: 13px;
}
.hd_menu .navbar .navbar-header{
    background: none;
}
.hd_menu .navbar-brand .dropdown{
    margin-top: -5px;
}
.navbar-brand, .navbar-brand a{
    font-size: 14px !important;
    text-shadow:none;
    padding-top: 20px;
    color: #fff;
    text-decoration: none;
}

.navbar-brand ul{
    font-size: 14px !important; 
    max-height: 300px; 
    overflow-y: auto; 
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
    text-align: left;

}