@charset "utf-8";
/* CSS Document */
img[Attributes Style] {
    width: 105px;
}

.carousel-inner > .item > img {
  	display: block;
    max-width: 100%;
    height: auto;


}

.navbar-toggle, .icon-bar {
    border:1px solid orange;
}
