@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland|Neuton:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(images/tree-background_111647470_73.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20%;
}
.content h1{
	margin-top: 250px;
	font-family: 'Mr De Haviland',sans-serif;
	font-size: 1000%;
	font-weight: 100;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 70%;
	
}
.btn{
	margin-top: 120px;
	font-family: 'Neuton',sans-serif;
	font-size: 135%;
	font-weight: 400%;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #FFFFFF;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.5s;
}
.btn:hover{
	color: #CBDFD6;
	border: solid #CBDFD6 2px;;
}

